"Boot using default options"     "root=UUID={{ refind_root_uuid.stdout }} rootflags=subvol=@ rw resume={{ refind_swap_uuid.stdout }} amd_pstate=active splash"
"Boot using to single-user mode"     "root=UUID={{ refind_root_uuid.stdout }} rootflags=subvol=@ rw resume={{ refind_swap_uuid.stdout }} amd_pstate=active splash single"
