- name: Install secure arch linux environment
  hosts: hosts
  connection: local
  become: true
  roles:
    - {role: bootstrap, tags: ["bootstrap"]}
    - {role: kernel, tags: ["kernel"]}
    - {role: network, tags: ["network"]}
    - {role: firewall, tags: ["firewall"], when: not chrooted}
    - {role: grub, tags: ["grub"], when: bootloader == "grub"}
    - {role: refind, tags: ["refind"], when: bootloader == "refind"}
    - {role: macspoof, tags: ["macspoof"], when: system.macspoof}
    - {role: printing, tags: ["printing"]}
    - {role: TeXlive, tags: ["TeX", "tex", "TeXLive", "texlive"], when TeXLive}
    - {role: qemu, tags: ["qemu", "QEMU", "Qemu"], when: qemu}
    - {role: desktop, tags: ["desktop"], when: (system.type == "desktop")}
